@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* html {
  1rem = 10px
  font-size: 62.5%;
} */
*{
  box-sizing: border-box;
}
:root {
  scroll-behavior: smooth;
}

body {
  height: 200vh;
}

